.button {
  align-items: center;
  background: lightblue;
  border: solid 1px blue;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
}

.button:hover {
  background: blue;
  color: white;
}
