.cell {
  background: lightgray;
  border: solid 1px black;
  box-sizing: border-box;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.cell--wall {
  background: black;
}

.cell--path {
  animation-name: pathColorChange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.cell--visited {
  animation-name: visitColorChange;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.cell--start {
  background: green;
}

.cell--finish {
  background: red;
}

.cell:hover {
  background: lightblue;
}

@keyframes visitColorChange {
  from {background: inherit;}
  to {background: yellow;}
}

@keyframes pathColorChange {
  0% {
    background: inherit;
  }
  50% {
    background: yellow;
  }
  100% {
    background: blue;
  }
}
