.app {
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}

.modal__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
